.feature-item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 280px;
  }
}

.feature-item__header {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.feature-item__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #283645;
}
