.main-header {
  background-image:
  url("../img/hand-with-phone-mobile.png"),
  url("../img/back-mobile-1x.jpg");
  min-height: 462px;
  background-repeat: no-repeat;
  background-position: 50% 176px, 50% 0;
}


