.reviews-controls__trigger[id="rev1"],
.reviews-controls__trigger[id="rev2"],
.reviews-controls__trigger[id="rev3"] {
  display: none;
}

#rev1 {

  &:checked {
    ~ .reviews-controls {
        .reviews-controls__toggle[for="rev1"] {
          border: 3px solid #283645;
          background-color: #ffffff;
        }
      }
  }
}


.reviews-controls__toggle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
  width: 6px;
  height: 6px;
  background-color: #bfc3c8;
  border-radius: 50%;
}
